astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
EasyProcess==0.2.10
idna==2.9
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.3
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
pandas==1.0.1
patool==1.12
patsy==0.5.1
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
retrying==1.3.3
rope==0.16.0
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
statsmodels==0.11.1
typed-ast==1.4.1
urllib3==1.25.8
wincertstore==0.2
wrapt==1.11.2
